
Quote Droplet.xcodeproj/project.xcworkspace/xcuserdata/daggerpov.xcuserdatad/UserInterfaceState.xcuserstate
QuoteDroplet/.DS_Store
.DS_Store
Quote Droplet.xcworkspace/xcuserdata/daggerpov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Quote Droplet.xcworkspace/xcuserdata/daggerpov.xcuserdatad/UserInterfaceState.xcuserstate
Quote Droplet.xcworkspace/xcuserdata/daggerpov.xcuserdatad/IDEFindNavigatorScopes.plist
Quote Droplet.xcworkspace/xcuserdata/daggerpov.xcuserdatad/xcschemes/xcschememanagement.plist
Quote Droplet.xcworkspace/xcuserdata/daggerpov.xcuserdatad/UserInterfaceState.xcuserstate

Quote Droplet.xcworkspace