<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCK9lnYa51nZXU1hILwu8kSf8_UVDUEgYk</string>
	<key>GCM_SENDER_ID</key>
	<string>262202899503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Daggerpov.Quote-Droplet</string>
	<key>PROJECT_ID</key>
	<string>quote-droplet---daily-qu-60117</string>
	<key>STORAGE_BUCKET</key>
	<string>quote-droplet---daily-qu-60117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262202899503:ios:65ee74b4bb01cb8e93dada</string>
</dict>
</plist>